$family-sans-serif: "Lato", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$section-padding: 5rem 1.5rem !default;

$modal-content-width: 80%;

// Import Bulma, a CSS framework
@import url("https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css");
